@import "tailwindcss";

@theme{
  --color-win-orange: oklch(0.65 0.22 39);
  --color-win-borde: oklch(0.92 0 0);
  --color-win-fondo: oklch(0.98 0 0);
  --color-win-texto: oklch(0.18 0 0);
}

@layer base {
  body {
    @apply bg-win-fondo text-win-texto;
  }
}